{% extends 'base.html' %}

{% load staticfiles %}
{% block bgimg %}class='addbookbg'{% endblock %}
{% block navbarproperty %}class='navbar navbar-inverse'{% endblock %}
{% block content %}
<div class='container'>
{% if form %}
<form action="" method="post">
	{% csrf_token %}
	<div class='col-md-3 col-xs-3 col-sm-3'>
	</div>

	<div class='col-md-6 col-xs-6 col-sm-6'>
		<div class='row'>
			<div class='col-md-offset-4 col-xs-offset-2'>
				<h1>Add Book</h1>

			</div>
		</div>
		
		<br>
		<br>


	
		<div class='row'>
			<div class='col-md-12'>{{ form.book_name }}</div>
		</div>
		
		<br>
		
		<div class='row'>
			<div class='col-md-12' id='authorfield'>{{ form.authorName }}</div>
		</div>
		
		<br>
		
		<div class='row'>
			<div class='col-md-6 col-xs-6 col-sm-6'>{{ form.publisherbook }}</div>

			<div class='col-md-6 col-xs-6 col-sm-6'>{{ form.dep_book }}</div>
		</div>
		
		<br>
		
		
		<div class='row'>
			<div class='col-md-6 col-sx-6 col-sm-6'>{{ form.placed_at_shelf }}</div>

			<div class='col-md-6 col-xs-6 col-sm-6'>{{ form.edition_of_book }}</div>
		</div>
		<br>
		
	
		<div class='row'>
			<div class='col-md-12'>{{ form.book_id }}</div>
		</div>

		<br>



		<div class='row'>
			<div class='col-md-offset-5 col-sm-offset-4'>
   			 	<input type="submit" value="Submit" class='btn btn-default'/>
			</div>
		</div>
	</div>

	<div class='col-md-3'>
	</div>

</form>

{% endif %}

{% if book_added %}
	<div class='col-md-2 col-sm-2 col-xs-2'></div>
	<div class='col-md-8 col-sm-8 col-xs-8'>
		<table class='table table-bordered jumbotron'>
			<tr>
				<th>ID:</th>
				<td>{{ b.book_id }}</td>
			</tr>
			<tr>
				<th>Book Name:</th>
				<td>{{ b.book_name }}</td>
			</tr>
			<tr>
				<th>Authors:</th>
				<td>
					{% for a in auths %}
						{{ a.author_name }},
					{% endfor %}
				</td>
			</tr>
			<tr>
				<th>Publisher:</th>
				<td>
					{{ pub.publisher_name }}
				</td>
			</tr>
			<tr>
				<th>Edition:</th>
				<td> {{ b.edition_of_book }} </td>
			</tr>
			<tr>
				<th>Department:</th>
				<td>{{ b.dep_book }}</td>
			</tr>
			<tr>
				<th>Shelf address:</th>
				<td>{{ b.placed_at_shelf }}</td>
			</tr>
		</table>
		<div class='col-md-offset-5'>
		<form action='/addBook' method='GET'>
			<input type='submit' value='Add More' class='btn btn-primary'>
		</form>
		</div>
	</div>
	<div class='col-md-2 col-xs-2 col-sm-2'></div>
{% endif %}

</div>
{% endblock %}






















