{% extends 'base.html' %}
{% block bgimg %}class='addbookbg'{% endblock %}
{% block navbarproperty %}class='navbar navbar-inverse'{% endblock %}
{% block content %}
<div class='container'>
{% if form %}
<form action='/deleteStudent/' method='POST'>
	{% csrf_token %}
	<div class='col-md-3'>
	</div>

	<div class='col-md-6'>
		<div class='row'>
			<div class='col-md-offset-4 col-xs-offset-2'>
				<h1>Delete Student</h1>
			</div>
		</div>
		
		<br>
		<br>
		<div class='row'>
			<div class='col-md-12'>{{ form.r_no }}</div>
		</div>
		
		<br>
<!--
		<div class='row'>
			<div class='col-md-offset-5 col-sm-offset-4'>
   			 	<input type="submit" value="Submit" class='btn btn-default'/>
			</div>
		</div>
-->
	</div>

	<div class='col-md-3'>
	</div>




</form>
{% endif %}

{% if deleted %}
	<h1>Student has been deleted successfully.</h1>
{% endif %}

</div>
{% endblock %}
